.workOrder {
	bottom:5%;
	text-align:center;
	
	width:auto;
	margin: 10% 1em 0 1em;
}

.viewUser {
	width:100%;
}

#viewUsers {
	height:100%;
	width:100%;
}

.pdfPreview {
	height:150px;
	width:135px;
	//height:auto;
	//width:auto;
		
	margin:0 auto;
	text-align:center;

	flex:none;
	//display:flex;	

	border:1px solid red;
	background-image: url("wo_preview.png");
	background-size: auto;
}

.woID {
	width:100%;	
	display:block;
}
