#menu {
	width:15vw;
	min-width:160px;

	//display: none;	
	
	flex-direction:column;
	padding:10px;

	z-index:2;
	position:fixed;
	top:2%;
	right:2%;
}

#options {
	background-color: #ededed;
	padding:10px;

	width:100%;

	visibility:hidden;
}

#menuToggleBar {
	width:100%;
	display:flex;
	justify-content:flex-end;
}

#menuToggle {
	display:flex;
	flex-direction:column;
	z-index:3;
}

#menuToggle:hover {
	cursor:pointer;
}

#menu span {
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	  
	background: #232323;
	border-radius: 3px;
 		 
	z-index: 2;
  
	//transform-origin: 4px 0px;
  
  	//transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	//	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	//	opacity 0.55s ease;
}

#menu th {
	padding-top:5px;
	padding-bottom:5px;
}

#menu button, 
#accountsButton {
	width:100%;
	font-size:20px;
}

#_accounts {
	display:none;
}
