#overlay {
	position:fixed;
	display:none;
	width:100%;
	height:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	z-index:2;
}

.overlayForm {
	background-color:white;
	position:absolute;

	left:25vw;
	right:25vw;

	top:15vh;
	bottom:15vh;

	padding:10px;
	display:none;
}

.overlayForm table {
	margin:20px 20px 20px 20px;
	width:100%;
	border-collapse:collapse;
	font-size:18px;

	display:flex;
}

.overlayForm th {
	text-align:left;
}

#overlayHeader {
	font-size:24px;
	border-bottom:1px solid black;
	padding-top:10px;
	padding-bottom:10px;
}

#searchForm.overlayForm {
	min-height: 300px;
	min-width: 432px;
}

#uploadForm.overlayForm {
	min-height: 310px;
	min-width: 300px;
}

#accountsForm.overlayForm {
	min-height: 310px;
	min-width: 670px;
}


#accounts, 
#cat_search,
#ma_search {
	display:none;
}

#accountsTable {
	width:670px;
}

#accountsTable tbody {
	width:100%;
}

#viewAccountsFrame {
	//width:600px;
	height:100%;

	display:flex;
	flex-direction:column;
}

.viewUser {
	display:flex;
	flex-direction:row;	
	justify-content:space-evenly;

	border-bottom:1px solid black;
	padding-bottom:10px;
	//padding-top:10px;
}
